.locale {
    width: 3em;
    height: 3em;
    border: 1px solid black;
    display: inline-block;
}

.row {
    height: 3.1em;
}

#frame {
    margin: 1em; 
}

.star {
    background-color: black;
}

.life {
    background-color: green;
}

.test {
    background-color: purple;
}

#data {
    height: 10em;
    border: 1px solid black;
    width: 10em;
    font-size: 2em;
}

.predator {
    background-color: purple;
}

.apex {
    background-color: pink;
}